<div class="header-wrapper">
  <div class="toolbar-panel">
    <ul class="toolbar">
      <li style="position: relative">
        <span class="user-icon" (click)="handleUserClick()">👤</span>
        <span style="padding-left: 10px" (click)="handleUserClick()">{{ username }}</span>
        <div class="dropdown" *ngIf="userDropdownVisible">
          <ul>
            <li>Всички адреси</li>
            <li>Профил</li>
            <li (click)="handleSignOut()">Излизане</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
