<div class="manage-container">
  <h2>Управление на апартаменти</h2>

  <div class="filters">
    <div class="filter-field">
      <label for="address-filter">Филтър по адрес</label>
      <select
        id="address-filter"
        [value]="selectedAddressId ?? ''"
        (change)="onAddressFilterChange($any($event.target).value)"
      >
        <option value="">Всички адреси</option>
        <option *ngFor="let address of addresses" [value]="address.address_id">
          {{ address.city }}, {{ address.address }}, вход {{ address.entrance }}
        </option>
      </select>
    </div>

    <button type="button" class="clear-btn" (click)="clearFilters()">Изчисти</button>
  </div>
  
  <div class="apartament-list">
    <app-apartament-list-item 
      *ngFor="let apartament of filteredApartaments"
      [city]="apartament.city"
      [neighbourhood]="apartament.neighbourhood"
      [address]="apartament.address"
      [property_id]="apartament.property_id"
      [ideal_share]="apartament.ideal_share"
      [property_number]="apartament.property_number"
      [floor]="apartament.floor"
      [member_amount]="apartament.member_amount"
      [pets]="apartament.pets"
      [rent]="apartament.rent"
      [elevator]="apartament.elevator">
    </app-apartament-list-item>
  </div>
  
  <div *ngIf="filteredApartaments.length === 0" class="no-data">
    <p>Няма добавени апартаменти</p>
  </div>
</div>
