<header>
  <nav class="navbar navbar-expand-lg navbar-light navbar-float">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Domova<span class="text-primary">Kniga</span></a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" 
              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="page-banner home-banner">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 py-3 wow fadeInUp">
          <h1 class="mb-4">Домова книга</h1>
          <p class="text-lg mb-5">Нашето приложение "Домова книга" предоставя удобно и ефективно решение за домоуправители, собственици и мениджъри на сгради, като улеснява управлението на всички важни данни, свързани с даден имот.</p>

          <a routerLink="/login">Вход</a> | <a routerLink="/signup">Регистрация</a>
        </div>
        <div class="col-lg-6 py-3 wow zoomIn">
          <div class="img-place">
            <img src="assets/landing/bg_image_1.png" alt="Background" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="page-section features">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
          <div class="d-flex flex-row">
            <div class="img-fluid mr-3">
              <img src="assets/landing/icon_pattern.svg" alt="Icon" />
            </div>
            <div>
              <h4>Какво представлява "Домова книга"?</h4>
              <p>"Домова книга" е дигитална платформа, която централизира информацията за сгради, имоти и техните обитатели. Чрез нея можеш да съхраняваш и управляваш информация за адреси, собственици, наематели, плащания, ремонти и важни събития.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
          <div class="d-flex flex-row">
            <div class="img-fluid mr-3">
              <img src="assets/landing/icon_pattern.svg" alt="Icon" />
            </div>
            <div>
              <h4> Основни функционалности на приложението</h4>
              <p>
                ✔ Управление на адреси и сгради<br/>
                ✔ Управление на собственици и наематели<br/>
                ✔ Поддръжка на финансови данни
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
          <div class="d-flex flex-row">
            <div class="img-fluid mr-3">
              <img src="assets/landing/icon_pattern.svg" alt="Icon" />
            </div>
            <div>
              <h4>За кого е предназначено приложението?</h4>
              <p>
                ✔ Домоуправители – за по-лесно управление на входове и блокове<br/>
                ✔ Мениджъри на сгради – за контрол на няколко обекта наведнъж<br/>
                ✔ Собственици на няколко имота – за проследяване на наематели и плащания<br/>
                ✔ Фирми за управление на недвижими имоти – за централизирано управление на данни
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="page-section">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <div class="subhead">Защо да избереш "Домова книга"?</div>
      <h2 class="title-section">Регистрирай се напълно <span class="marked">безплатно</span></h2>
      <div class="divider mx-auto"></div>
    </div>

    <div class="row mt-5 text-center">
      <div class="col-lg-4 py-3 wow fadeInUp">
        <div class="display-3"><span class="mai-shapes"></span></div>
        <h5>Спестяване на  време</h5>
        <p>Елиминира нуждата от тетрадки и хаотично водене на записки</p>
      </div>
      <div class="col-lg-4 py-3 wow fadeInUp">
        <div class="display-3"><span class="mai-shapes"></span></div>
        <h5>Достъпност от всяко устройство </h5>
        <p>Използвай я на компютър, таблет или телефон</p>
      </div>
      <div class="col-lg-4 py-3 wow fadeInUp">
        <div class="display-3"><span class="mai-shapes"></span></div>
        <h5>Лесен и интуитивен интерфейс</h5>
        <p>Подходящ за всеки, без сложни настройки</p>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 py-2">
        <p id="copyright">&copy; 2025 <a href="https://macodeid.com/">MACode ID</a>. All rights reserved</p>
      </div>
      <div class="col-sm-6 py-2 text-right">
        <div class="d-inline-block px-3">
          <a href="#">Privacy</a>
        </div>
        <div class="d-inline-block px-3">
          <a href="#">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>
