@use '../../../assests/styles/variables.scss' as *;

.login-wrapper, .signup-wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 350px;
    // margin: 0 auto;
    padding: 2rem;
    height: 100%;
    box-sizing: border-box;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow:
  0 10px 15px rgba(0, 0, 0, 0.1),
  0 4px 6px rgba(0, 0, 0, 0.05);

    .login-container, .signup-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 380px;
        // height: 350px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid #e1e1e1;
        position: relative;
        z-index: 99999;
        padding: 30px 0;

        .form-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 50%;

            i {
                color: $main-orange;
            }
        }
    }
}

label {
    width: 200px;    
    text-align: left;
}

.username, .password, .email, .firstname, .lastname, .phone {
    margin: 10px;
    text-align: left;

    input {
      width: 250px;
      height: 25px;
      // padding-left: 7px;
      border: 0;
      border-bottom: 1px solid $border-gray;
      outline: none;

      &:focus {
        // background: $border-gray;
        background: linear-gradient(180deg, #f1f5f9 0%, #e2e8f0 100%); // Slate 100 to Slate 20
      }
    }
}

input.input-error {
  border-bottom: 1px solid #ef4444 !important;
}

.registrationBtn {
    margin-top: 20px;
    border: 1px solid $border-gray;
}

.login-footer {
    p {
        margin: 0;
    }
    margin-top: 20px;
}

.login-button {
    // border: 1px solid #aeadad
    border: 1px solid $border-gray;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    // height: 30px;
  }
  
  .password-field {
    width: 100%;
    padding: 10px;
    padding-right: 35px; /* Оставя място за иконата */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #606060;
  }
  
  .toggle-password:hover {
    color: #383838;
  }
  